@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey {
  color: #666;
}
.cap {
  text-transform: capitalize;
}
.up {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 93.33%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 90.66%;
  padding: 2% 0;
}

header ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #eae5e7;
  font-size: 20px;
  text-transform: capitalize;
}

header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 57.5%;
  left: 50%;
  transform: translate(-50%);
  background-color:rgba(119,120,127,0.4)
}

nav ul li.active a { color: #5b96d9; }
header a:hover {  color: #5b96d9; }

header label {
  position: absolute;
  top: 0%;
  right: 4%;
  margin: 0 5% 0 0;
  font-size: 25px;
  display: none;
  line-height: 75px;
}

.hamburger {
  position: absolute;
  top: 0%;
  right: 4%;
  display: none;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/* banner section */

.banner .wrapper {
  width: 100%;
  border-bottom: 10px solid #225b87;
}
.banner {  position: relative; }

.banner h1 {
  position: absolute;
  top: 11.5%;
  left: 5.5%;
  font-size: 44px;
  text-transform: uppercase;
}

.banner a {  color: #fff; }

.logo-subtitle {
  position: absolute;
  top: 28%;
  left: 5.5%;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}

/* banner ended */
/* bookstore section */

.bookstore h3 {
  color: #697173;
  font-size: 30px;
}

.bookstore p {
  padding: 2% 0;
  color: #5f6567;
  font-size: 19px;
  line-height: 25px;
}

ul.bookstore-images {
  padding-top: 2.5%;
  display: flex;
  justify-content: space-between;
}

.bookstore-images li {  flex-basis: 23.5%; }

.bookstore-images span {
  padding: 6% 0;
  display: block;
  color: #657074;
  text-align: center;
}

.bookstore .wrapper {  padding: 6% 0 2% 0; }
/* page-button */

.page-buttons ul {
  padding-right: 3%;
  display: flex;
  justify-content: center;
}

.page-buttons li {  padding: 2%; }

.page-buttons a {
  padding: 15px 180%;
  border: 1px solid;
  background-color: #d5d5d5;
  color: #7f7d78;
}

.page-buttons .active a {
  background-color: #225b86;
  color: #c4d8d9;
}

.page-buttons a:hover {
  background-color: #225b86;
  color: #c4d8d9;
}

/* page-button ended */
/* bookstore ended */

/* need-help */

section.need-help .wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #29619e;
}

.needhelp-content {
  padding: 4% 0;
  color: #fafefb;
  flex-basis: 73%;
}

.needhelp-content h4 {
  font-size: 30px;
  text-transform: capitalize;
}

.needhelp-content p {
  padding: 1.5% 15% 1.5% 0;
  font-size: 19px;
  line-height: 27px;
}

.need-help img {  padding: 42% 100%; }
section.need-help {  padding-bottom: 5%; }

.live-chat a {
  padding: 1.5% 3.5%;
  border: 1px solid;
  color: #fafefb;
  text-transform: capitalize;
}

/* help-need ended */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  background-color: #333333;
  color: #faf5f0;
}

footer p {
  padding: 1.5% 0;
  font-size: 18px;
  text-align: center;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/

/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
  header {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .need-help img {  padding: 38% 51%;  }
  .page-buttons li {  padding: 2% 2.5%;  }
}
/* responsive-css for 995px */
@media only screen and (max-width: 995px) {
  header {
    position: absolute;
    top: 45.3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* responsive-css for 768px */
@media only screen and (max-width: 768px) {
  header {
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner h1 {  font-size: 35px;  }
  .logo-subtitle {  font-size: 17px;  }
  .page-buttons li {  padding: 2% 3.5%;  }
  .need-help img {  padding: 27% 30%;  }
}
/* responsive-css for 540px */
@media only screen and (max-width: 540px) {
  header .wrapper {  padding: 5% 0;  }

  header label {
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 75px;
  }

  header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner h1 {
      font-size: 30px; 
      position: absolute;
      top: 20%;
      left: 5%; 
    }
  .logo-subtitle {
      font-size: 14px; 
      position: absolute;
      top: 36%;
      left: 5%; 
    }

  header ul {
    width: 100vh;
    display: none;
    position: absolute;
    top: 87px;
    left: 50%;
    background-color: #29619e;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    }

  header a {
    border-bottom: 1px solid #000;
    display: block;
    line-height: 25px;
  }

  .hamburger:checked + ul {
    display: flex;
    flex-direction: column;
  }

  .bookstore h3 {  font-size: 25px;  }

  .bookstore p {
    font-size: 15px;
    line-height: 20px;
  }

  ul.bookstore-images {
    padding: 2.5% 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .bookstore-images li {  flex-basis: 40%;  }

  .page-buttons a {
    padding: 10px 100%;
    border: 1px solid;
  }

  .needhelp-content {  padding: 4% 0 4% 14%;  }
  .needhelp-content h4 {  font-size: 20px;  }

  .needhelp-content p {
    font-size: 15px;
    line-height: 20px;
  }

  footer p {  font-size: 13px;  }
}
/* responsive-css for 480px  */
@media only screen and (max-width: 480px) {
  header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner h1 {  font-size: 25px;  }
  .logo-subtitle {  font-size: 12px;  }
}

/* responsive-css for 320px */
@media only screen and (max-width: 320px) {
  header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header label {
    display: block;
    cursor: pointer;
    font-size: 10px;
    line-height: 50px;
  }

  header ul { top: 52px;  }

  header a {
    line-height: 15px;
    font-size: 15px;
  }

  .banner h1 {  font-size: 18px; }
  .logo-subtitle {  font-size: 9px; }
  .bookstore h3 { font-size: 18px; }

  .bookstore p {
    font-size: 12px;
    line-height: 15px;
  }

  .bookstore-images li { flex-basis: 45%; }

  .page-buttons a { 
    padding: 6px 70%;
    border: 1px solid;
  }

  .needhelp-content h4 {  font-size: 15px;  }

  .needhelp-content p {
    font-size: 10px;
    line-height: 15px;
  }

  .live-chat a {  font-size: 10px; }
  footer p {  font-size: 8px; }
}
